body{
  background-color:#ffffff;
  font-family: Calibri;
}

/* Header */
.header-wrapper {
  background-color: #020202;
  border-bottom: 2px solid #f80202;
  width: 100%;
  height: 150px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Impact";
  font-weight: bold;
  position: relative;
  padding-top: 20px;
  font-size: 8ch;

}

/* Selected Meme */
.car-wrapper {
  padding-top:10px;
  padding-left: 10px;
  padding-right: 10px;
}

.car-heading {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 18px;
}

.car-img {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  overflow: hidden;
}

.car-img img {
  max-height: calc(100vh - 220px);
  width: 100%;
}

.car-date {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 15px;
  margin-top: 0px;
}

.car-done-button {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 20px;
  margin-top: 20px;
}

.btn-action{
  font-family: Helvetica;
  background-color:#333331;
  border-color: #000000;
  height:40px;
  margin-right: 10px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-action:hover {
  background-color: #f15555;
  border-color: #f15555;
}

.btn-add {
  position: absolute;
  right: 1px;
}

/* Meme List */
.car-list-wrapper {
  padding-top:20px;
}

.car-list-table {
  margin-top: 20px;
  cursor:context-menu;
  margin-left: 0%;

}

.search-button:hover {
  background-color: #f15555;
  border-color: #000000;
  color: white;
}




